<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app_promod.application_promod">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.magnetometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/tigre"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Menu principal"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Choose_Solo"
            android:label="Questionnaire"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".QRScreen"
            android:label="Questionnaire"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Touch_game"
            android:label="Jeux de touche"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Move_game"
            android:label="Jeux de mouvement"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Test_question"
            android:label="question test"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Multiplayeur"
            android:label="question test"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Fin_comp"
            android:label="score filiaire"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Morpion"
            android:label="Morpion"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Morse"
            android:label="Morse"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Credits"></activity>
    </application>

</manifest>